:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #149ddd;
  --bg-section-light: #f7f7f7;
  --bg-section-dark: #303030;
  --gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.contacts-subtitle, .test-link, .barbers-soc-link, .check-text span, .check-text, .modal-close, .pre-title {
  display: flex;
  align-items: center;
}

body {
  font-family: "open sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--accent-color);
  gap: 20px;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 200ms linear, color 200ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.btn--color-light {
  color: var(--main-btn-color);
}

.btn--color-dark {
  color: var(--second-btn-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.482);
  position: fixed;
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 90%;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear, border-radius 300ms linear;
}
@media screen and (min-width: 500px) {
  .modal {
    width: 500px;
  }
}

.backdrop.is-hidden .modal {
  border-radius: 50%;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #9da4bd;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  justify-content: center;
  cursor: pointer;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #3d3e45;
  font-size: 14px;
  padding-left: 30px;
  outline: transparent;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-size: 13px;
  color: teal;
}
.modal-input::placeholder {
  font-size: 13px;
  color: teal;
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.373);
}
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.373);
}
.modal-input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(128, 32, 0, 0.373);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 32, 0, 0.373);
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}
.modal-text::-moz-placeholder {
  font-size: 13px;
  color: teal;
}
.modal-text::placeholder {
  font-size: 13px;
  color: teal;
}

.input-label {
  font-size: 12px;
  color: #3d3e45;
}

.input-label span,
.input-label {
  display: block;
  margin-bottom: 5px;
}

.modal-input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.check-text {
  font-size: 14px;
  color: #555555;
  position: relative;
}

/* -----------TOGGLE----------- */
/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid #9da4bd;
  margin-right: 8px;
  transition: border-color 250ms linear, background-color 250ms linear;
}
.check-text::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #9da4bd;
  transition: transform 250ms linear, background-color 250ms linear;
}

.input-check:checked + .check-text:after {
  transform: translate(18px);
  background-color: #ffffff;
}

.input-check:checked + .check-text::before {
  border-color: transparent;
  background: #8ee89a;
} */
/* -----------SPRITE----------- */
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #171a24;
  border-radius: 3px;
  margin-right: 5px;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: #ff6c00;
  border-color: transparent;
  fill: #ffffff;
}
.input-check:focus + .check-text span {
  border-color: #ff6c00;
}

/* -----------BEFORE----------- */
/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #171a24;
  border-radius: 3px;
  margin-right: 5px;
}

.input-check:checked + .check-text::before {
  background-color: #ff6c00;
  border-color: transparent;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
} */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-text {
  padding: 6px 22px;
  background-color: #999999;
  display: block;
  border-radius: 20px;
  cursor: pointer;
}
.filter-check:checked + .filter-text {
  background-color: #ff6c00;
  color: #ffffff;
}

.btn-send {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: space-around;
  }
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: var(--accent-color);
}

.navbar {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    gap: 12px;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #a8a9b4;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color var(--transition-duration) var(--transition-timing-function);
  font-size: 15px;
}
.nav-link:focus, .nav-link:active, .nav-link:hover {
  color: var(--main-title-color);
}
.nav-link > i {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav-link:hover > i {
  color: var(--accent-color);
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.menu__link:hover, .menu__link:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}
.menu__link.current,
.connect__tel.current {
  color: var(--accent-color);
}

.menu-open {
  background-color: transparent;
  border: none;
}
.menu-open:hover .icon_open {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.icon_open {
  transition: color var(--transition-duration) var(--transition-timing-function);
  fill: var(--main-title-color);
}

.mob-menu.is-hidden {
  transform: translateX(-100%);
}

.mob-menu {
  height: 100vh;
  background-color: #d5dae1;
  top: 0;
  position: fixed;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 32px;
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease;
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
}
.menu-close:hover .icon_close {
  fill: var(--accent-color);
}

.icon_close {
  transition: color var(--transition-duration) var(--transition-timing-function);
  fill: var(--second-title-color);
}

.sidebar__profile {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 8px solid var(--second-title-color);
  border-radius: 50%;
}

.sidebar__text-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  -moz-text-align-last: center;
       text-align-last: center;
}

.contact__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--brand-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--second-title-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: currentColor;
}

.soc-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background: var(--main-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.soc-link:hover, .soc-link:focus {
  background-color: var(--second-title-color);
  fill: var(--accent-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.mob-menu-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mob-menu-list__link:focus, .mob-menu-list__link:active, .mob-menu-list__link:hover {
  color: var(--accent-color);
}
.mob-menu-list__link > i {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mob-menu-list__link:hover > i {
  color: var(--accent-color);
}

.hero__container {
  display: flex;
  padding: 0;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1200px;
  }
}

.hero {
  background-color: var(--bg-section-dark);
}

.hero__wrap {
  background-color: #3d3e45;
  background-image: var(--gradient), url(../img/myphoto-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 300px 10px 20px 10px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .hero__wrap {
    background-image: var(--gradient), url(../img/myphoto-bg.jpg);
  }
}

.hero__pre-title {
  margin-bottom: 10px;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1805555556;
  }
}

.hero__after-title {
  font-size: 18px;
  line-height: 1.62;
  color: #f3f3f6;
}
@media screen and (min-width: 768px) {
  .hero__after-title {
    font-size: 24px;
    line-height: 1.67;
    max-width: 360px;
  }
}

.about__pre-title {
  margin-bottom: 20px;
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: 20px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 42px;
  }
}

.about__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: italic;
  color: #555555;
  margin-bottom: 20px;
}

.about__text {
  font-size: 16px;
  line-height: 1.86;
  text-indent: 20px;
  color: #555555;
}

.resume {
  background-color: #111319;
  background-image: url(../img/resume-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.resume-pre-title {
  margin-bottom: 20px;
}

.resume-title {
  color: var(--main-title-color);
  margin-bottom: 42px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .resume-title {
    font-size: 42px;
  }
}

.resume-after-title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.86;
  text-indent: 20px;
  color: var(--main-title-color);
}

.text-skill {
  text-align: center;
  color: var(--main-title-color);
}

.list-skills {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill {
  border: solid 1px var(--main-title-color);
  border-radius: 5px;
  padding: 3px;
}

.skill-icon {
  font-size: 1.5rem;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .skill-icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .resume-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.resume-list {
  padding: 30px 20px;
}
@media screen and (min-width: 1200px) {
  .resume-list {
    width: calc((100% - 30px) / 2);
  }
}
.resume-list:first-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .resume-list:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.resume-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.resume-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
}
.resume-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
.resume-item + .resume-item {
  margin-top: 20px;
}

.resume-list-text {
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}
.resume-list-text:last-child {
  order: 1;
}
@media screen and (min-width: 320px) and (max-width: 424px) {
  .resume-list-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 425px) and (max-width: 480px) {
  .resume-list-text {
    font-size: 14px;
  }
}

.resume-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

.portfolio-pre-title {
  margin-bottom: 20px;
}

.portfolio-title {
  color: #303030;
  margin-bottom: 20px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .portfolio-title {
    font-size: 42px;
  }
}

.portfolio-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.barbers {
  background: var(--bg-section);
}

.barbers-pre-title {
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .barbers-title {
    font-size: 42px;
  }
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .barbers-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .barbers-item {
    width: calc((100% - 60px) / 3);
  }
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  padding: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  background-color: rgba(255, 106, 0, 0.5333333333);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.barbers-item:hover .barbers-top-text {
  transform: translateY(0);
}

.barbers-wrap {
  padding-top: 30px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  background: var(--main-title-color);
  border-radius: 50%;
  justify-content: center;
  fill: var(--second-btn-color);
  transition: background-color 200ms linear, fill 200ms linear;
}
.barbers-soc-link:hover, .barbers-soc-link:focus {
  background-color: var(--second-btn-color);
  fill: var(--accent-color);
}

.test-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.test-item {
  height: 90px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .test-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .test-item {
    width: calc((100% - 150px) / 6);
  }
}

.test-link {
  width: 100%;
  height: 100%;
  border: 4px solid rgb(83, 79, 78);
  border-radius: 5px;
  justify-content: center;
  transition: border-color 200ms linear;
}
.test-link:hover {
  border-color: tomato;
}

.test-soc-icon {
  fill: rgb(83, 79, 78);
  transition: fill 200ms linear;
}
.test-link:hover .test-soc-icon {
  fill: tomato;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}

.gallery-pre-title {
  margin-bottom: 44px;
}

.contact-wrap {
  background-color: #191c26;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .online {
    width: calc(50% - 15px);
  }
}

.online-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.online-item {
  margin-bottom: 44px;
  background-color: transparent;
  border: none;
  color: #9da4bd;
  outline: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color 200ms linear;
}
.online-item:focus {
  border-color: #ffffff;
}
.online-item:focus::-moz-placeholder {
  color: #ffffff;
}
.online-item:focus::placeholder {
  color: #ffffff;
}
.online-item::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -moz-transition: color 200ms linear;
  transition: color 200ms linear;
  color: rgba(157, 164, 189, 0.4);
}
.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 200ms linear;
  color: rgba(157, 164, 189, 0.4);
}

.online-input {
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
  }
}

.online-textarea {
  width: 100%;
  height: 76px;
  resize: none;
}

.online-btn {
  color: var(--main-btn-color);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .online-btn {
    margin-left: 0;
  }
}

.contacts {
  background-image: url(../img/contact/contact-bg-mobile-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contact/contact-bg-mobile-2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: url(../img/contact/contact-bg-tablet-min.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contact/contact-bg-tablet-2x-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
    background-image: url(../img/contact/contact-bg-desktop-min.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../img/contact/contact-bg-desktop-2x-min.png);
  }
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: left;
  }
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: inline-block;
  margin-bottom: 20px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  gap: 20px;
}
.contacts-subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #9da4bd;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-copy {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  font-style: italic;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #9da4bd;
}/*# sourceMappingURL=main.css.map */