.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  // mobile
  @include mobile {
    max-width: 480px;
  }
  // tablet
  @include tablet {
    max-width: 768px;
  }
  // desktop
  @include descktop {
    max-width: 1200px;
  }
}
