.hero {
  max-width: 1200px;
  padding-top: 300px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-image: var(--gradient), url(../images/myphoto-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include tablet {
    padding-top: 400px;
  }
  @include desktop {
    padding-top: 600px;
  }
}

.hero__pre-title {
  margin-bottom: 10px;
}

.hero__title {
  color: var(--secondary-bg-color);
  margin-bottom: 10px;
}

.hero__after-title {
  color: var(--secondary-bg-color);
}

.hero__btn {
  min-width: 216px;
  margin: 30px auto 0;
  padding: 10px 32px;
}
