.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__after-title {
  // letter-spacing: 0.02em;
  font-style: italic;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.about__text {
  font-size: 16px;
  line-height: 1.86;
  text-indent: 20px;
  color: var(--brand-color);
  @include tablet {
    font-size: 20px;
  }
}
