.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-title {
  margin-bottom: 20px;
}

.portfolio-after-title {
  text-indent: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
