.footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-copy {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  font-style: italic;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #9da4bd;
}
