.header {
  // position: sticky;
  // top: 0px;
  // left: 0px;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 10; // щоб перекривало main
 
}

.header__container {
  // position: fixed;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  // width: 100%;
  @include tablet {
    justify-content: space-around;
  }
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: var(--accent-color);
}

.navbar {
  display: none;
 
  @include tablet {
    display: flex;
    gap: 12px;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #a8a9b4;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color var(--transition-duration) var(--transition-timing-function);
  font-size: 15px;
  &:focus,
  &:active,
  &:hover {
    color: var(--main-title-color);
  }
  & > i {
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  &:hover > i {
    color: var(--accent-color);
  }
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

// ---mobile menu---
.menu-open {
  // position: absolute;
  // top: 20px;
  // right: 20px;
  background-color: transparent;
  border: none;
  // border-radius: 5px;
  &:hover .icon_open {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}

.icon_open {
  transition: color var(--transition-duration) var(--transition-timing-function);
  fill: var(--main-title-color);
}

.mob-menu.is-hidden {
  transform: translateX(-100%);
}

.mob-menu {
  // width: 100vw;
  height: 100vh;
  background-color: #d5dae1;
  top: 0;
  position: fixed;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 32px;
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease;
  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.menu-close {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  &:hover .icon_close {
    fill: var(--accent-color);
  }
}

.icon_close {
  transition: color var(--transition-duration) var(--transition-timing-function);
  fill: var(--second-title-color);
}

.sidebar__profile {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 8px solid var(--second-title-color);
  border-radius: 50%;
}

.sidebar__text-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  text-align-last: center;
}

.contact__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--brand-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--second-title-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: currentColor;
  }
}

.soc-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background: var(--main-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--second-title-color);
    fill: var(--accent-color);
  }
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.mob-menu-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:focus,
  &:active,
  &:hover {
    color: var(--accent-color);
  }
  & > i {
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  &:hover > i {
    color: var(--accent-color);
  }
}