.hero__container {
  display: flex;
  padding: 0;
  max-width: 100%;
  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.hero {
  background-color: var(--bg-section-dark);
}

.hero__wrap {
  background-color: #3d3e45;
  background-image: var(--gradient), url(../img/myphoto-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 300px 10px 20px 10px;
  flex-grow: 1;
  @include tablet {
    // padding: 470px 100px 20px 100px;
    background-image: var(--gradient), url(../img/myphoto-bg.jpg);
  }
}

.hero__pre-title {
  margin-bottom: 10px;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 10px;
  @include mobile {
    font-size: 40px;
  }
  @include desktop {
    font-size: 72px;
    line-height: calc(85 / 72);
  }
}

.hero__after-title {
  font-size: 18px;
  line-height: 1.62;
  color: #f3f3f6;
  // max-width: 320px;
  @include tablet {
    font-size: 24px;
    line-height: 1.67;
    max-width: 360px;
  }
}
