.portfolio-container {
 
  @include desktop {
    
  }
}

.portfolio-pre-title {
  margin-bottom: 20px;
}

.portfolio-title {
  color: #303030;
  margin-bottom: 20px;
  font-size: 28px;
  
  @include tablet {
    font-size: 42px;
  }
}

.portfolio-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
