.resume {
  background-color: #111319;
  background-image: url(../img/resume-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.resume-pre-title {
  margin-bottom: 20px;
}

.resume-title {
  color: var(--main-title-color);
  margin-bottom: 42px;
  font-size: 40px;
  
  @include tablet {
    font-size: 42px;
  }
}

.resume-after-title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  text-indent: 20px;
  color: var(--main-title-color);
}

.text-skill {
  text-align: center;
  color: var(--main-title-color);
}

.list-skills {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill {
  border: solid 1px var(--main-title-color);
  border-radius: 5px;
  padding: 3px;
}

.skill-icon {
  font-size: 1.5rem;
  color: var(--accent-color);
  @include tablet {
    font-size: 2rem;
  }
}

.resume-wrap {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.resume-list {
  padding: 30px 20px;
  @include desktop {
    width: calc((100% - 30px) / 2);
  }

  &:first-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    @include desktop {
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  }
  &:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.resume-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: baseline;
  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    // border: 1px solid red;
  }
  & + & {
    margin-top: 20px;
  }
}

.resume-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  &:last-child {
    order: 1;
  }
  @media screen and (min-width: 320px) and (max-width: 424px) {
    font-size: 12px;
  }
  @media screen and (min-width: 425px) and (max-width: 480px) {
    font-size: 14px;
  }
}

.resume-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}
